code {
  white-space: pre;
}


.inferenceRule {
  position: relative;
  display: inline-block;
}

.premisses, .conclusion {
  display: block;
}

.rules {
  display: inline-block;
}

.name {
  padding-left: 8px;
  display: inline-block;
  bottom: 12px;
  position: absolute;
  padding-left: 8px;
}

.formula {
  padding: 2px 12px;
  cursor: default;
}

.formula:hover {
  background: #e9e1ff;
  border-radius: 3px;
}

.conclusion {
  text-align: center;
}

.premisses {
  border-bottom: 1px solid #000;
}
